<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <title data-l10n-id="title-wordpress">WordPress</title>

    <link rel="stylesheet" href="../css/app.css" />

  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div id="template">
			<div class="page page-about">
				<div class="scroll">
					<header>
						<button class="back left">WordPress Photos</button>
					</header>
					<section class="content">
						<div>Publisher: Automattic Inc.</div>
						<div>Copyright: Automattic Inc.</div>
						<div>
							<button id="tos">Terms of service: http://wordpress.com/tos/</button>
							<button id="privacy">Privacy Policy: http://automattic.com/privacy/</button>
						</div>
						<div><a href="www.automattic.com<" target="_blank">www.automattic.com<</a>/div>
					</section>
				</div>
			</div>
	  	</div>
  	</div>

  </body>
</html>