<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <title data-l10n-id="title-wordpress">WordPress</title>

    <link rel="stylesheet" href="../css/app.css" />

  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div id="template">
			<div class="page page-about">

				<header>
					<button class="back left"></button>
				</header>
				<section class="content">
					<h1 data-l10n-id="app-name">WP Photos 1.0</h1>
					<div data-l10n-id="label-publisher">pUblisher: Automattic Inc.</div>
					<div data-l10n-id="label-copyright">cOpyright: Automattic Inc.</div>

						<button data-l10n-id="control-tos" class="wide blue" id="tos">tErms of Service</button>
						<button data-l10n-id="control-privacy" class="wide blue" id="privacy">pRivacy Policy</button>

					<div><a href="http://www.automattic.com" target="_blank">www.automattic.com</a></div>
				</section>

			</div>
	  	</div>
  	</div>

  </body>
</html>