<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WordPress</title>
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>
		<div id="stage">
			<div id="template">
				<div class="page page-about">
					<x-appbar>
						<button class="back"></button>
					</x-appbar>
					<div class="scroll">
						<section class="content">
							<header>
								<img id="wp-logo" src="img/icons/wp-logo.png" />
							</header>
							<section>
								<ul>
									<li id="line-1" data-l10n-id="haiku-line-1">A fUn WP app</li>
									<li id="line-2" data-l10n-id="haiku-line-2">ShAres my photos to my blog</li> 
									<li id="line-3" data-l10n-id="haiku-line-3">So my frIends can see</li>
								</ul>
								<div data-l10n-id="label-publisher">pUblisher: Automattic Inc.</div>
								<div data-l10n-id="label-copyright">cOpyright: Automattic Inc.</div>
								<button data-l10n-id="control-tos" class="push blue" id="tos">tErms of Service</button>
								<button data-l10n-id="control-privacy" class="push blue" id="privacy">pRivacy Policy</button>
								<div><a href="http://www.automattic.com" target="_blank">www.automattic.com</a></div>
							</section>
						</section>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>