<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <title data-l10n-id="title-wordpress">WordPress</title>

    <link rel="stylesheet" href="../css/app.css" />

  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div id="template"> 		
			<div class="page page-editor">
				<header>
					<button class="back left"></button>
					<button class="save right" data-l10n-id="control-save">sAve</button>
				</header>
				<div class="scroll">				
					<section class="content">
						<div class="post">
							<div class="photo">
								<div class="photo-table">
									<div class="photo-cell">
										<img id="photo" src="" /> <!-- TODO wp logo placeholder while image loads or if missing image -->
									</div>
								</div>
								<div class="caption-frame"><input id="caption" type="text" placeholder="tAp to caption" /></div>
							</div>
							<div class="post-body">
								<textarea id="post-title" class="post-title" type="text" placeholder="pOst title (optional)" ></textarea>
								<textarea id="post-content" class="post-content" type="text" placeholder="tAp here to type post (optional)" rows="3" ></textarea>
								<textarea id="post-tags" type="text" placeholder="tAgs (comma separated, optional)" ></textarea>
							</div>
							<div class="canvas-wrapper">
								<canvas id="photo-canvas"></canvas>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
  	</div>

  </body>
</html>