<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <title data-l10n-id="title-wordpress">WordPress</title>

    <link rel="stylesheet" href="../css/app.css" />

  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div id="template">
			<div class="page page-login">
				<header>
					<button class="back"></button>
				</header>
				<section class="content">
					<h1 data-l10n-id="title-login">lOg in to your existing WordPress blog.</h1>
					<section class="controls">
						<input id="username" type="text" data-l10n-id="control-username-email" placeholder="uSername or Email">
						<input id="password" type="password" data-l10n-id="control-password" placeholder="pAssword">
						<input id="url" type="text" data-l10n-id="control-blog-address" placeholder="bLog Address">
						<button class="login wide blue" data-l10n-id="control-login">lOg In</button>
					</section>
					<section class="by-line">
						<div data-l10n-id="app-name">wOrdPress Photos 1.0</div>
						<div data-l10n-id="app-author">bY WordPress.com</div>
					</section>
				</section>
			</div>
	  	</div>
  	</div>

  </body>
</html>