<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WP Photos</title>
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>
	<div id="stage">
	<div id="template">
		<div class="page page-login">
			<div class="scroll">
			  <x-appbar>
				 <button class="back"></button>
			  </x-appbar>
				<section class="content">
		<h3>
		  <img src="img/icon-wp.png" />
		</h3>
					<section class="controls">
						<input id="username" type="text" data-l10n-id="control-username-email" placeholder="uSername or Email" />
						<input id="password" type="password" data-l10n-id="control-password" placeholder="pAssword" />
						<input id="url" type="text" data-l10n-id="control-blog-address" placeholder="bLog Address" />
						<button id="login-btn" class="login" disabled="true" data-l10n-id="control-login">sIgn In</button>
					</section>
				</section>
				<footer>
				<button class="create-account" data-l10n-id="control-create-account">dOn't have an account? Create one!</button>
				</footer>
			</div>
		</div>
		</div>
	</div>

  </body>
</html>