<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <title data-l10n-id="title-wordpress">WordPress</title>
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div>
			<div class="page page-posts">
				<header>
					<button class="settings"></button>
					<button class="logo" data-l10n-id="title-photos">pHotos</button>
					<button class="add"></button>
				</header>
				<section class="content" id="template">
					<div class="post">
						<div class="photo">
							<div class="photo-table">
								<div class="photo-cell">
									<div class="no-title-date"></div>
									<img src="" />
									<div class="caption"></div>
								</div>
							</div>
						</div>
						<div class="post-body">
							<span></span>
							<h3></h3>
							<p></p>
						</div>
						<div class="upload-mask hidden">
							<div class="uploader">
								<div class="upload hidden">
									<button class="wide upload blue" data-l10n-id="control-upload">uPload Now</button>
									<button class="wide discard red" data-l10n-id="control-discard">dIscard</button>
								</div>
								<div class="progress hidden">
									<span class="loading-text">Loading...</span>
									<div class="loading-spinner"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
  	</div>
  </body>
</html>