<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WordPress</title>
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>
		<div id="stage">
			<div class="page page-posts">
				<section class="content" id="template">

					<div class="post">
					
						<div class="photo-btn">
							<div class="post-date">date thingy</div>
							<h3 class="post-title">title</h3>
							<div class="photo">
								<div class="photo-box">
									<img src="../img/start/1.jpg" />
									<div class="photo-shadow"></div>
								</div>
								<div class="caption">this is my caption. there are many like it but this one is mine.</div>
							</div>
							<p class="post-content">content</p>
						</div>

						<div class="upload-mask hidden">
							<div class="uploader">
								<div class="upload hidden">
									<button class="wide upload blue" data-l10n-id="control-upload">uPload Now</button>
									<button class="wide discard red" data-l10n-id="control-discard">dIscard</button>
								</div>
								<div class="progress hidden">
									<span class="loading-text">lOading...</span>
									<div class="loading-spinner"></div>
								</div>
							</div>
						</div>
						
					</div>
	
				</section>
			</div>
		</div>
	</body>
</html>
