<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
	    <meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WordPress</title>
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>
		<div id="stage">
			<div id="template">
		
				<x-shiftbox class="page page-posts">
					<section>
						<x-appbar>
							<button class="menu"></button>
							<header><button class="logo" data-l10n-id="title-photos">pHotos</button></header>
							<button class="refresh "></button>
							<button class="add"></button>
						</x-appbar>
						<div class="scroll">
							<section class="content"></section>
							<section class="load-more">lOad more?</section>
						</div>
					</section>
					<aside>
						<ul class="blog-list"></ul>
						<button class="settings menu-item" data-l10n-id="control-settings">sEttings</button>
					</aside>
				</x-shiftbox>
			</div>
		</div>
	</body>
</html>
