<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <title data-l10n-id="title-wordpress">WordPress</title>
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div id="template">
			<div class="page page-posts">
				<header>
					<button class="settings left"></button>
					<button class="logo" data-l10n-id="title-photos">pHotos</button>
					<button class="add right"></button>
				</header>
				<div class="scroll">
					<div class="iscroller">
						<div class="pull-down">
							<span class="scroll-refresh-label">Pull down to refresh...</span>
						</div>
						<section class="content">
						</section>
					</div>
				</div>
			</div>
		</div>
  	</div>
  </body>
</html>