<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WordPress</title>
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>
		<div id="stage">
			<div id="template">
				<div class="page page-settings">
					<x-appbar>
						<button class="back"></button>
						<header data-l10n-id="title-settings">sEttings</header>
					</x-appbar>
					<div class="scroll">
						<section class="content">
							<section>
								<h2 data-l10n-id="title-blogs">sItes</h2>
								<div class="bloglist"> 
									<ul></ul>
								</div>
								<button id="settings-add" class="blue push" data-l10n-id="control-add">aDd Existing</button>
								<button id="settings-create" class="black push" data-l10n-id="control-create">cReate New</button>
							</section>
						
							<section>
								<h2 data-l10n-id="title-publish-settings">pUblish Settings</h2>
								<ul>
									<li id="settings-publish-settings" data-l10n-id="" class="list-button disclosure">cUrrent Settings</li>
								</ul>
							</section>

							<section>
								<h2 data-l10n-id="title-app">aPp Info</h2>
								<ul>
									<li id="settings-about" data-l10n-id="label-about" class="list-button disclosure">aBout</li>
									<li data-l10n-id="label-version">vErsion<span id="settings-version"></span></li>
<!-- 									<li id="settings-reset" data-l10n-id="label-reset">rEset App</li> -->
								</ul>
							</section>					
						</section>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>