<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <title data-l10n-id="title-wordpress">WordPress</title>
    <link rel="stylesheet" href="../css/app.css" />       
  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
		<div id="template">
			<div class="page page-settings">
			  <x-appbar>
			    <button class="back"></button>
			    <header data-l10n-id="title-site-settings">sIte Settings</header>
			  </x-appbar>
				<div class="scroll">
					<section class="content">
						<h1 id="blog-name">My Blog Title here</h1>
						<input id="username" type="text" data-l10n-id="control-username-email" placeholder="uSername or Email" />
						<input id="password" type="password" data-l10n-id="control-password" placeholder="pAssword" />
						<input id="url" type="text" disabled="true" />
						<button class="save blue small" data-l10n-id="control-save">sAve</button> <button class="cancel small" data-l10n-id="control-cancel">cAncel</button>
					</section>
				</div>
			</div>
	  	</div>
  	</div>
  </body>
</html>