<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <title data-l10n-id="title-wordpress">WordPress</title>
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
  	<div id="stage">
		<div>
			<div class="page page-settings">
				<div class="scroll">
					<section class="content">
						<section>
							<div class="bloglist"> 
								<ul id="template">
									<li><span></span><span><button>X</button></span></li>
								</ul>
							</div>
						</section>
					</section>
				</div>
			</div>
	  	</div>
  	</div>

  </body>
</html>