<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <title data-l10n-id="title-wordpress">WordPress</title>
    <link rel="stylesheet" href="../css/app.css" />   
 
  </head>
  <body>
	<div id="template">
		<div class="modal-background"></div>
		<div class="modal-content blog-settings">
			<h2 id="blog-name"></h2>
			<div id="url"></div>
			<input id="username" type="text" data-l10n-id="control-username-email" placeholder="uSername or Email" />
			<input id="password" type="password" data-l10n-id="control-password" placeholder="pAssword" />
			<button class="save blue small" data-l10n-id="control-save">sAve</button> <button class="cancel blue small" data-l10n-id="control-cancel">cAncel</button>
		</div>
  	</div>
  </body>
</html>