<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WP Photos</title>
		<link rel="stylesheet" href="../css/app.css" />
	</head>
	<body>
	<div id="stage">
		<div id="template">
			<div class="page page-sites">
				<div class="scroll">
					<x-appbar>
						<button class="back"></button>
					</x-appbar>
					<section class="content">
						<header>
							<h1 data-l10n-id="title-sites">sElect the sites you want to add</h1>
						</header>
						<ul class="sites">
						</ul>
					</section>
				</div>
				<footer>
					<button class="select-all push black" data-l10n-id="control-select-all">sElect All</button>
					<button class="add-selected push blue" data-l10n-id="control-add-selected">aDd Selected</button>
				</footer>
			</div>
		</div>
	</div>
  </body>
</html>
