<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title data-l10n-id="title-wordpress">WordPress</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

	<!-- Localization -->
	<link rel="resource" type="application/l10n" href="locales/locales.ini">
	<link rel="resource" type="application/l10n" href="shared/locales/date.ini">
	<!-- Shared code -->
	<script type="text/javascript" src="shared/js/l10n.js"></script>
	<script type="text/javascript" src="shared/js/l10n_date.js"></script>


    <link rel="stylesheet" href="../css/app.css">

  </head>
  <body>
	<div id="background"></div>
  	<div id="stage">
  	
		<div class="page page-start">
			<section class="content">
				<header>
					<img src="img/start-header.png" />
					<h1 data-l10n-id="title-start">a fAst and fun way to post photos to any WordPress blog</h1>
				</header>
				<section class="controls">
					<button class="wide blue" data-l10n-id="control-login">lOg In</button>
					<button class="wide orange" data-l10n-id="control-create-blog">cReate New Blog</button>
				</section>
				<section class="by-line">
					<div data-l10n-id="app-name">wOrdPress Photos 1.0</div>
					<div data-l10n-id="app-author">bY WordPress.com</div>
				</section>
			</section>
		</div>
  	
  	</div>

  </body>
</html>