<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<title data-l10n-id="title-wordpress">WordPress</title>
		<link rel="stylesheet" href="../css/app.css" />		
	</head>
	<body>
		<div id="stage">
			<div id="template">
				<div class="page page-start">
					<div class="scroll">
						<x-appbar></x-appbar>
						<section class="content">
							<header>
								<img id="wp-logo" src="img/icons/wp-logo.png" />
								<h1 data-l10n-id="title-welcome">wElcome</h1>
							</header>
						<section>
							<h3 data-l10n-id="title-start">a fAst and fun way to post photos to any WordPress blog</h3>
						</section>
						</section>
						<footer>
							<button class="create-account push black" data-l10n-id="control-create-blog">cReate Account</button>
							<button class="login push blue" data-l10n-id="control-login">sIgn In</button>
						</footer>
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>