@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('OpenSans-Bold.ttf');
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: OpenSans, Helvetica, sans-serif;
  font-weight: normal;
  overflow: hidden;
  background-color: rgb(30, 140, 190);
}


/* App bar */

x-appbar {
  position:absolute;
  z-index: 100;
  height:44px;
  background-color: rgb(30, 140, 190);
  background-image: none;
  margin-bottom: 5px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

x-appbar button {
	background-color: transparent;
	background-position: center center;
	border: medium none;
	height: 44px;
	width: 44px;
	text-align: center;
	position:relative;
  color: #fff;
  font-size: 1.6rem;
  padding: 0;
}

x-appbar button:active {
  background-color: rgb(120, 200, 230);
}

x-appbar header {
	text-align: left;
	position:relative;
	padding:0 5px;
}

x-appbar header button.logo {
  font-size: 2.2rem;
  min-width: 125px;
  text-shadow: 1px 0px 1px rgba(0,0,0,.8);
  height: 42px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  text-align: left;
  vertical-align: middle;
  line-height: 36px;
}

x-appbar header button.logo:active {
  background-color:transparent;
}

x-appbar header button.logo:before {
  content: '\f205';
  background: none;
  display: inline-block;
  font: 32px/36px 'Noticons';
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  vertical-align: top;
  margin-right: 5px;
}

x-appbar button.back:before {
  content: '\f431';
  background: none;
  display: inline-block;
  font: 40px/40px 'Noticons';
  margin-top: 3px;
  transform: rotate(90deg);
  transform-origin: 20px 20px 0;
  vertical-align: top;
}

x-appbar button.menu {
	width:30px;
}

x-appbar button.menu:before {
  content: '\f419';
  background: none;
  display: inline-block;
  font: 20px/42px 'Noticons';
}

x-appbar button.add:after {
/*	 content: '\f215'; */
  content: '\f102';
  background: none;
  display: inline-block;
  font: 22px/40px 'Noticons';
}

x-appbar button.refresh:after {
  content: '\f420';
  background: none;
  display: inline-block;
  font: 22px/40px 'Noticons';
}

x-appbar button.refreshing:after {
  -moz-animation:spin 1.10s infinite linear;
}

x-appbar > *:before {
  width: 1px;
}


/* pages */

.page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(30, 140, 190);
}

.page .scroll {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.content button:active {
  transform: translateY(1px);
}

.content button[disabled]:active {
  transform:none;
}


/* start & login pages */

.page-start section.content,
.page-login section.content,
.page-about section.content,
.page-settings section.content {
	padding: 44px 20px 0 20px;
	min-height: 0;
}

.page-start footer,
.page-login footer {
  background-color: rgb(44,44,44);
  position: absolute;
  bottom: 0px;
  height: 64px;
  width: 100%;
}

.page-start .content img,
.page-login .content img {
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.page-start x-appbar,
.page-login x-appbar {
  box-shadow: none;
}


/*	start page */

.page-start h1 {
  text-align: center;
  font-size: 2.8rem;
  color: #fff;
}

.page-start .content section {
  border-top: 1px solid rgb(32, 133, 181);
  border-bottom: 1px solid rgb(38, 145, 192);
}

.page-start .content section h3 {
  border-top: 1px solid rgb(38, 145, 192);
  border-bottom: 1px solid rgb(32, 133, 181);
}

.page-start .content section h3 {
  margin:0px;
  padding:3px;
  text-align: center;
  font-size: 1.6rem;
  color:rgb(187, 221, 237);
  font-family: OpenSansLight;
}

.page-start button.login {
  position: absolute;
  right:10px;
  height:34px;
  min-width: 100px;
  font-family: OpenSans;
  color:#eee;
  background-color: rgb(46, 162, 204);

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
	border: none;
	font-size: 1.4rem;
	font-weight: normal;
	padding: 5px 10px;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0,116,162,0.8);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5);
}

.page-start button.create-account {
  position: absolute;
  left: 10px;
  height:34px;
  min-width: 100px;
  font-family: OpenSans;
  color:rgb(148,148,148);
  background-color: rgb(58,58,58);

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
	border: none;
	font-size: 1.4rem;
	font-weight: normal;
	padding: 5px 10px;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(28,28,28,0.8);
	box-shadow: 0 1px 0 rgba(73, 73, 73, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}


/*	login page	*/

.page-login button.login {
  height:44px;
  min-width: 100px;
  font-family: OpenSans;
  color:#eee;
  background-color: rgb(46, 162, 204);
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
	border: none;
	font-size: 1.7rem;
	font-weight: normal;
	padding: 5px 10px;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0,116,162,0.8);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

.page-login button.login[disabled] {
  background-color: rgb(37,151,196);
  color: rgb(125,193,221);
}

.page-login footer button {
  border:none;
  height:64px;
  font-family: OpenSans;
  font-size: 1.5rem;
  color:#eee;
  background-color: transparent;  
  width: 100%;
  padding: 0;
}


/*	posts page */

x-shiftbox > section {
  box-shadow: -1px 0px 20px rgba(0,0,0,0.5);
}

.page-posts aside {
  width:100%;
  height:100%;
  background-color: rgb(34,34,34);
}


.page-editor .scroll,
.page-posts .scroll {
	bottom:0;
	position: absolute;
	top:0;
	width:100%;
	background-color: rgb(16,16,16);
}

.page-posts section.content {
	position: relative;
	z-index: 5;
	background-color: #eee;
	min-height: 0;
	margin-top: 44px;
}

.page-posts aside ul {
  margin:0;
  padding:0;
  display:block;
}

.page-posts .menu-item {
  display:block;
  padding:none;
  margin:none;
  height:44px;
  color: rgb(221, 221, 221);
  line-height: 44px;
  font-size:1.4rem;
  padding-left:10px;
  padding-right:44px;
}

.page-posts li.menu-item {
  list-style: none;
}

.page-posts .menu-item:active {
  background-color:rgb(120, 200, 230) !important;
}

.page-posts aside li.current-blog {
  background-color:rgb(0, 116, 162);
}

.page-posts button.menu-item {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}


/* posts post */

.page-posts .post .photo-btn {
  display:block;
  border:none;
  background:none;
  padding:0 5px;
  margin:0;
}

.page-posts .post .photo-btn:active {
  transform: scale(0.99);
}

.page-posts .post {
	margin-bottom: 5px;
	padding-bottom: 10px;
	position:relative;
	background-color:#fff;
}

.page-posts .photo {
	position: relative;
	min-height: 214px;/* Min height should match the requested size from the photon api */
	z-index: 10;
	background-color: #fff;
	padding:10px;
	box-shadow: 0 0 1px inset;
}

.page-posts .photo img {
	max-height: 100%;
	max-width: 100%;
}

.page-posts .photo-box {
	position:relative;
}

.page-posts .photo-shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 2px;
	box-shadow: 0px 0px 1px black inset;
	z-index: 10px;
}

.page-posts .photo .caption {
	font-size: 10pt;
	color: #999;
	margin-top: 10px;
	font-family: OpenSansLight;
}

.page-posts .post .post-title {
	padding: 10px 0 5px 0;
	margin: 0;
	font-size: 16pt;
	color: #999;
	font-family: OpenSansLight;
}

.page-posts .post .post-content {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12pt;
	color: #999;
}

.page-posts .post .post-date {
	font-size:10pt;
	color: #ddd;
	padding: 5px 0;
}

/* about page */

.page-about,
.page-settings {
  background-color:#333;
}

.page-about header {
  margin-top:10px;
}

.page-about .content section {
  text-align: center;
  padding-bottom: 10px;
}


/* settings page */

.page-settings x-appbar header,
.page-editor x-appbar header {
  line-height: 44px;
  font-family: OpenSansLight,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 2.2rem;
  height: 42px;
  line-height: 40px;
  text-align: left;
  vertical-align: middle;
  color:#fff;
}

.page-settings section.content {
	color:white;
}

.page-settings #settings-version {
	position: absolute;
	right: 10px;
}

.page-settings ul {
	background-color: #eee;
	display:block; 
	margin:0; 
	padding:0;
	border-radius: 4px;
}

.page-settings li,
.page-settings .bloglist li div {
	position: relative;
	list-style: none;
	border: none;
	color: #464646;
	font-family: OpenSans, Helvetica, sans-serif;
	font-size: 1.5rem;
	line-height: 42px;
	font-weight: normal;
	height: 42px;
	padding: 0 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	border-radius: 3px;
	background-color: #eee;
	box-shadow: 0 1px 0 rgba(255,255,255, 0.92) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

.page-settings .list-button:active {
	color: #eee;
	background-color: rgb(46, 162, 204);
	box-shadow: 0 1px 0 rgba(46, 162, 204, 0.92) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.page-settings .disclosure:after {
	content: '\f431';
	background: none;
	display: inline-block;
	font: 30px/30px 'Noticons';
	transform: rotate(-90deg);
	transform-origin: 15px 15px 0;
	vertical-align: top;
	position: absolute;
	right: 0px;
	top: 6px;
	width:30px;
}


.page-settings .bloglist {
	max-height:200px;
	display:block; 
	overflow:hidden;
	margin-bottom: 10px;
	border-radius: 3px;
	background: #fff;
}

.bloglist ul {
	max-height:200px; 
	overflow-x: hidden;
	overflow-y: auto; 
	border-radius: 0;
}

.bloglist li {
	padding: 0;
}

.bloglist li div {
	padding: 0 10px;
}

.bloglist li:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.bloglist li:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.bloglist li span {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	margin-right:40px;
}

.page-settings .bloglist li button {
	background-color: transparent;
	background-position: center center;
	border: medium none;
	height: 42px;
	width: 36px;
	position: absolute;
	top:0;
	right:0;
	padding: 0;
}

.page-settings .bloglist li button:before {
	color: rgb(215, 77, 17);
	content: '\f407';
	border: none;
	background: none;
	display: inline-block;
	font: 30px/30px 'Noticons';
}

.page-settings .bloglist li button:active:before {
 	color: #fff;
}

.page-settings .bloglist li button:active {
	background-color: rgb(241, 131, 30);
	transform: translateY(0);
}


.page-publish-settings ul {
	margin-top:10px;
}

.page-publish-settings ul li.selected:after {
	content: '\f418';
	border: none;
	background: none;
	display: inline-block;
	position:absolute;
	right: 10px;
	font: 30px/42px 'Noticons';
}



/* Editor */

x-appbar button.cancel:before {
	content: '\f405';
	background: none;
	display: inline-block;
	font: 30px/40px 'Noticons';
}

x-appbar button.done:after {
	content: '\f418';
	background: none;
	display: inline-block;
	font: 30px/40px 'Noticons';
}

x-appbar button.save:after {
	content: '\f411';
	background: none;
	display: inline-block;
	font: 30px/40px 'Noticons';
}

.page-editor .post {
	padding-top: 44px;
}

.page-editor section.content {
	position:relative;
	z-index: 5;
	background-color: #eee;
	height:100%;
	overflow:auto;
}

.page-editor .photo {
	position: relative;
	display: block;
	background-color: #fff;
	margin:10px;
}

.page-editor .photo img {
	display: block;
	margin: 0 auto;
	box-shadow: 0px 1px 3px #333333 inset;
	border:10px solid #fff;
	max-width: 100%;
	max-height: 180px;
}

.page-editor .post-body {
	color: rgb(34,34,34);
	margin: 0 10px 10px;
}

.page-editor .textlabel:before {
	content: '\f411';
	background: none;
	display: inline-block;
	font: 24px/30px 'Noticons';
	color: #999;
	width: 24px;
	vertical-align: top;
}

.page-editor .textlabel,
.page-editor .textfield {
	background-color: #fff;
	font-family: OpenSans,Helvetica,arial,sans-serif;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.page-editor .textlabel {
	display: block;
	padding: 10px;
	color: #999;
    margin-bottom:1px;
}

.page-editor .textfield {
    color:#666;
	font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 80px;
    min-height: 0;
}

.page-editor .photo input[type="text"] {
	box-shadow: none;
}


.page-editor .post-body textarea  {
	border:none;
	width: calc(100% - 20px);
	box-shadow: none;
	height: 40px;
	margin: 0;
	margin-bottom: 1px;
	font-weight: lighter;
}

.page-editor .post-body textarea.post-content {
	height: 72px;
}

.page-editor .canvas-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#editor {
	display: block;
	position: absolute;
	top: 44px;
	left: 0;
	width: calc(100% - 20px);
	height: calc(100% - 64px);
	z-index: 10;
}











/*
	headers
*/

header {
	text-align: center;
}

header button:active {
	transform: translate(0, 1px);
}

header button.left {
	position:absolute;
	left:14px;	
}

header button.right {
	position: absolute;
	right: 15px;
	text-align: center;
}

header button.right.small {
	margin-right: 4px;
}

header button.settings,
header button.add {
	height: 44px;
	width: 44px;
	top: 10px;
	margin: 0 0 0 -4px;
}

header button.settings {
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
}

header button.add {
	background-image: url("../img/camera.png");
	background-repeat: no-repeat;
	margin: 0 -4px 0 0;
}


header button.save {
	width:auto;
}



















h1 {
	font-family: OpenSansLight, Helvetica, sans-serif;
	color: #eee;
	font-size: 2.2rem;
	font-weight: normal;
	letter-spacing: 0.1rem;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
	text-align: left;
}

h2, h3 {
	font-weight: lighter;
}

button.small,
button.wide {
	border: none;
	color: #464646;
	font-family: OpenSans, Helvetica, sans-serif;
	font-size: 1.5rem;
	line-height: 32px;
	font-weight: normal;
	height: auto;
	line-height: 1;
	padding: 5px 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	border-radius: 3px;
	background-color: #eee;
	background-image: linear-gradient(#eee, #bbb);
	box-shadow: 0 1px 0 rgba(255,255,255, 0.92) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.small:hover,
button.wide:hover {
	background-image: linear-gradient(#fff, #ccc);
	box-shadow: 0 1px 0 rgba(255,255,255, 1) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.small:active,
button.wide:active {
	color: rgba(0,0,0,.65);
	background-image: linear-gradient(#eee, #bbb);
	box-shadow: inset 0 1px 5px rgba(0,0,0,.65), inset 0 -1px 0 rgba(255,255,255,.65);
}

button.small {
	height: 36px;
	font-size: 1.4rem;
	margin-right: 10px;
}



button.wide {
	height: 42px;
	width: 200px;
	margin-bottom: 20px;
}

button.blue {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,116,162,0.8);
	background-color: #2ea2cc;
	background-image: linear-gradient(#1e8cbe, #0074a2);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.blue:hover {
	background-image: linear-gradient(#2ea2cc, #0074a2);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.blue:active {
	color: rgba(255,255,255,0.65);
	background-image: linear-gradient(#1e8cbe, #0074a2);
	box-shadow: inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;
}


button.wide.x-select-ok {
	margin: 20px 0 20px 20px;
}


input[type='text'], input[type="password"] {
	display: block;
	width: calc(100% - 10px);
	height: 40px;
	padding-left: 10px;
	margin-bottom: 7px;
	font-size: 1.8rem;
	font-family: OpenSansLight;
	font-weight: lighter;
	border-radius: 3px;
	border: 1px;
	box-shadow: 0px 1px 1px #333333 inset, 0 1px 0 rgba(255,255,255,.65);
}

textarea {
	font-family: OpenSans, Helvetica, arial, sans-serif;
	font-size:1.4rem;
	line-height: 2.5rem;
	resize: none;
	padding: 10px;
	overflow: hidden;
}

x-select-list {
	width: 100%;
	height:100%;
	padding: 0;
	z-index: 1000;
	font-size:1.5rem;
	background-image: url("../img/default-background.png");
	margin:0px;
}

x-select-list li {
	margin: 0 20px;
}

x-select-list h1 {
	margin:0;
}

#background, #stage {
  position: absolute;
  width: 100%;
  height: 100%;
}


section.content {
	min-height: 100%;
	overflow: auto;
}

.hidden {
	display:none !important;
}


/*
	Start page
*/

.modal-content.blog-settings {
	padding: 20px;
	position: absolute;
	font-size: 1.5rem;
	left: 20px;
	right: 20px;
	top: 100px;
	transform: none;
}

.modal-content input[type="text"], .modal-content input[type="password"] {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.spinner-modal {
	color: #CCCCCC;
}

.blog-settings #url {
	margin-bottom: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(255,255,255,.65);
}

.blog-settings h2 {
	margin-bottom: 1rem;
}


x-modal {
	height: 100%;
	width: 100%;
}




/*
	Posts page
*/

.page-posts .blog-title {
	display:block;
	color:white;
	font-size:1.7rem;
	line-height: 4rem;
	height:4rem;
	padding:5px 5px 5px 15px;
	background-image: url("../img/default-background.png");
}

.page-posts .blog-title:active {
	background-color:white;
	color:black;
}



/*

.page-posts .post {
	margin-bottom: 8px;
	position:relative;
}

.page-editor .photo,
.page-posts .photo {
	position: relative;
	z-index: 10;
	
	display: block;
	
	box-shadow: 0 1px 3px rgba(0,0,0,.65);
	background: url("../img/wp-placeholder.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #666666;
}
*/



.page-posts .photo .no-title-date {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: rgba(255,255,255,0.35);
	text-shadow: 0 1px 3px rgba(0,0,0,.65);
	font-size: 1.2rem;
}



.page-posts .post-body.noimage {
	margin: 0;
}


.yellow {
	background: #ff0 !important;
	border: 10px solid #ff0 !important;
}

.post .upload-mask {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.6);
	z-index: 100;
}

.post .upload-mask .uploader {
	display:table;
	width:100%;
	height:100%;
}

.post .upload-mask div {
	display:table-cell;
	vertical-align:middle;	
}

.post button.upload,
.post button.discard {
	width:200px;
	margin: 0 auto 1rem;
	display: block;
	font-size: 1.8rem;
	height:100px;
	position: relative;
}

.post button.discard {
	height:50px;
}

.post button.upload:before {
	content: "";
	display: block;
	margin: 0 auto;
	float: none;
	clear: both;
	background-image: url("../img/icons/upload.png");
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	position: relative;
	top: -6px;
}

.post button.upload:active:before {
	opacity: .65;
}

.uploader div.progress {
	text-align: center;
	color:#fff;	
	font-size:2rem;
}

.uploader div.progress div.loading-spinner {
	display:table;
}








/*
	About page
*/



.page-about .content div {
	color: #fff;
	font-size: 1.6rem;
	height:24px;
}

.page-about #tos {
	margin-top:30px;
}

.page-about #privacy {
	margin-bottom:30px;
}

.page-about h1 {
	margin-bottom:24px;
}

.page-about a {
	font-size: 1rem;
	color:#fff;
}

.page-about ul {
	font-size: 1.4rem;
	color:#fff;
	list-style: none;
	margin: 0;
	padding: 0 0 20px 0;
	font-style: italic;
}

.page-about ul li {
	opacity: 0;
	margin: 0;
	padding: 0 0 6px 0;
	-moz-animation:fade-in 2s linear; 
	-moz-animation-fill-mode:forwards;
}

@-moz-keyframes fade-in { 
  from { opacity:0; } 
  to { opacity:1; } 
}

.page-about ul #line-2 {
	-moz-animation-delay:2s;
}

.page-about ul #line-3 {
	-moz-animation-delay:4s;
}


/*
	Settings page
*/

.page-settings .content section {
	margin-bottom:30px;
}
.page-settings .content section h2 {
	margin-bottom: 1rem;
	text-shadow: 0 1px 2px rgba(0,0,0,.8);
}

.modal-background {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
}

.modal-content {
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

x-modal {
	height: 100%;
	width: 100%;
	z-index: 120;
}

.loading-text,
#loading-text {
	display: block;
	margin-bottom: 2rem;
	font-size: 1.8rem;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.loading-text:before,
.scroll.pulling .scroll-refresh-label:before,
.scroll.flip .scroll-refresh-label:before,
.scroll.loading .scroll-refresh-label:before,
#loading-text:before {
	content: "...";
	visibility: hidden;
}

.loading-spinner {
	background-color: transparent;
	border:8px solid #fff;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius:50px;
	width:34px;
	height:34px;
	margin:0 auto;
	-moz-animation:spin 1.10s infinite linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}

/* 	To infinity, and beyond!
	Brought to you by a merry band of mobile engineers.
	Apply for Automattic at automattic.com/work-with-us */

.page-posts section.content > div:last-child::after {
	content: "∞";
	display: block;
	width: 100%;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	font-size: 4rem;
	font-weight: lighter;
	color: #fff;
	text-shadow: 0 0 5px #fff;
	clear: both;
}

#template {
	height:100%;
}