html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  overflow: hidden;
  background-image: url("../img/default-background.png");
}

h1 {
	color: #eee;
	font-size: 2.2rem;
	font-weight: normal;
	letter-spacing: 0.1rem;
	line-height: 3rem;
	text-shadow: 0 1px 3px rgba(0,0,0,.8);
	text-align: left;
}

h2, h3 {
	font-weight: lighter;
}

.list-button,
button.small,
button.wide {
	border: none;
	color: #464646;
	font-family: Helvetica, sans-serif;
	font-size: 1.5rem;
	line-height: 32px;
	font-weight: normal;
	height: auto;
	line-height: 1;
	padding: 5px 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	border-radius: 3px;
	background-color: #eee;
	background-image: linear-gradient(#eee, #bbb);
	box-shadow: 0 1px 0 rgba(255,255,255, 0.92) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

.list-button:hover,
button.small:hover,
button.wide:hover {
	background-image: linear-gradient(#fff, #ccc);
	box-shadow: 0 1px 0 rgba(255,255,255, 1) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

.list-button:active,
button.small:active,
button.wide:active {
	color: rgba(0,0,0,.65);
	background-image: linear-gradient(#eee, #bbb);
	box-shadow: inset 0 1px 5px rgba(0,0,0,.65), inset 0 -1px 0 rgba(255,255,255,.65);
}

button.small {
	height: 36px;
	font-size: 1.4rem;
	margin-right: 10px;
}



button.wide {
	height: 42px;
	width: 200px;
	margin-bottom: 20px;
}

button.blue {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,116,162,0.8);
	background-color: #2ea2cc;
	background-image: linear-gradient(#1e8cbe, #0074a2);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.blue:hover {
	background-image: linear-gradient(#2ea2cc, #0074a2);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.7) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.blue:active {
	color: rgba(255,255,255,0.65);
	background-image: linear-gradient(#1e8cbe, #0074a2);
	box-shadow: inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;
}

.list-button {
	position: relative;
}

.list-button.dropdown:after {
	content: "";
	background: url("../img/icons/dropdown.png") no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 12px;
	top: 12px;
}

button.wide.x-select-ok {
	margin: 20px 0 20px 20px;
}

/*

button.orange {
	color: rgb(81,32,0);
	background-color: rgb(254,121,0);
	text-shadow: 0px 1px rgb(255,180,116);
}

button.red {
	color: rgb(150,0,0);
	background-color: rgb(254,121,121);
	text-shadow: 0px 1px rgb(255,180,116);
}
*/

input[type='text'], input[type="password"] {
	display: block;
	width: 220px;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 15px;
	font-size: 1.5rem;
	font-weight: lighter;
	border-radius: 3px;
	border: 1px;
	box-shadow: 0px 1px 3px #333333 inset, 0 1px 0 rgba(255,255,255,.65);
}

textarea {
	font-family: helvetica, arial, sans-serif;
	font-size:1.4rem;
	line-height: 2.5rem;
	resize: none;
	padding: 10px;
	overflow: hidden;
}

x-select-list {
	width: 100%;
	height:100%;
	padding: 0;
	z-index: 1000;
	font-size:1.5rem;
	background-image: url("../img/default-background.png");
	margin:0px;
}

x-select-list li {
	margin: 0 20px;
}

x-select-list h1 {
	margin:0;
}

#background, #stage {
  position: absolute;
  width: 100%;
  height: 100%;
}

#start-slideshow {
	position:absolute;
}

@-moz-keyframes fade {
	0% { opacity:0;-moz-transform:translate(-20px,0px) scale(1.80) rotate(0.1deg);  }
	15% { opacity:1;-moz-transform:translate(-40px,0px) scale(1.50) rotate(0.1deg); }
	30% { opacity:0.5;-moz-transform:translate(-60px,0px) scale(1.20) rotate(0.1deg); }
	40% { opacity:0;-moz-transform:translate(-80px,0px) scale(1.00) rotate(0.1deg); }
	100% { opacity:0; }
}

#start-slideshow, #start-slideshow img { 
	position:absolute 
}

#start-slideshow {
	z-index: -1;
	overflow:hidden;
	top:0px;
	left:0px;
	width:320px;
	height:480px;
}

#start-slideshow img {
	max-width: 400px;
	height: auto; 
	opacity:0; 
	-moz-animation:fade 48s linear infinite; 
}

#start-slideshow .img2 { 
	-moz-animation-delay:12s;
}
#start-slideshow .img3 { 
	-moz-animation-delay:24s;
}
#start-slideshow .img4 { 
	-moz-animation-delay:36s;
}

#wp-logo {
	max-width: 100%;
	margin: -3px 0 0 -12px;
}

.page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

section.content {
	min-height: 100%;
	overflow: auto;
}

.hidden {
	display:none !important;
}

/*
	headers
*/

header {
	text-align: center;
}

header button {
	background-color: transparent;
	background-position: center center;
	border: medium none;
	height: 30px;
	width: 30px;
	text-align: center;
	position:relative;
	top:14px;
    color: #fff;
    font-size: 1.6rem;
    padding: 0;
}

header button:active {
	transform: translate(0, 1px);
}

header button.left {
	position:absolute;
	left:14px;	
}

header button.right {
	position: absolute;
	right: 15px;
	text-align: center;
}

header button.right.small {
	margin-right: 4px;
}

header button.back {
	background-image: url("../img/back.png");
}

header button.settings,
header button.add {
	height: 44px;
	width: 44px;
	top: 10px;
	margin: 0 0 0 -4px;
}

header button.settings {
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
}

header button.add {
	background-image: url("../img/camera.png");
	background-repeat: no-repeat;
	margin: 0 -4px 0 0;
}

header button.logo {
	background-image: url("../img/wplogo.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 46px;
    font-size: 2.2rem;
    width: 100px;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    height: 36px;
    margin-top: -3px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
}

header button.save {
	width:auto;
}

/*
	Start page
*/

.modal-content.blog-settings {
    padding: 20px;
    position: absolute;
    font-size: 1.5rem;
    left: 20px;
    right: 20px;
    top: 100px;
    transform: none;
}

.modal-content input[type="text"], .modal-content input[type="password"] {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.spinner-modal {
    color: #CCCCCC;
}

.blog-settings {
    
}

.blog-settings #url {
	margin-bottom: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(255,255,255,.65);
}

.blog-settings h2 {
	margin-bottom: 1rem;
}


x-modal {
	height: 100%;
	width: 100%;
}

/*
	Start page
*/
>>>>>>> .r91
.page-start header {
	text-align: left;
}

.page-start section.content {
	padding: 30px;
}

.page-start header img {
	width: 200px;
	height: 60px;
	display: block;
}

.page-start header h1 {
	margin-top: 44px;
}

.page-start section.controls {
	margin-top: 40px;
}

section.by-line {
	margin-top: 10px;
	color: rgba(255,255,255,.65);
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

section.by-line div {
	margin-bottom: 2px;
}

/*
	Login page
*/

.page-login header {
	padding: 20px 30px 0;
	height: 40px;
	text-align: left;
	position:relative;
}

.page-login section.content {
	padding: 0 30px;
	height: calc(100% - 60px);
	min-height: 0;
}

.page-login .scroll {
	overflow-y:scroll;
	height:100%;

}


/*
	Posts page
*/
.page-posts .iscroller {
	position:absolute;
	width: 100%;
	min-height: 100%;
}

.page-posts .blog-title {
	display:block;
	color:white;
	font-size:1.7rem;
	line-height: 4rem;
	height:4rem;
	padding:5px 5px 5px 15px;
	background-image: url("../img/default-background.png");
}

.page-posts .blog-title:active {
	background-color:white;
	color:black;
}

.page-editor header,
.page-posts header {
	background: url("../img/header.png") no-repeat 50% 0;
	position: relative;
	z-index: 110;
	padding: 0 20px;
	height: 66px;
}

.page-editor .scroll,
.page-posts .scroll {
	bottom:0;
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	background-color: #000;
}

.page-posts section.content {
	position: relative;
	z-index: 5;
	background-color: #000;
	min-height: 0;
}

.page-posts .post {
	margin-bottom: 8px;
	position:relative;
}

.page-editor .photo,
.page-posts .photo {
	position: relative;
	z-index: 10;
	
	display: block;
	
	box-shadow: 0 1px 3px rgba(0,0,0,.65);
	background: url("../img/wp-placeholder.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #666666;
}

.page-editor .photo {
	min-height: 150px; /* saftey height */
}
.page-posts .photo {
	min-height: 214px;/* Min height should match the requested size from the photon api */
}

.page-posts .photo-table {
	display:table; 
	width:100%;
}

.page-posts .photo-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
}

.page-posts .photo img {
	display:block;
	width: 100%;
	box-shadow: 0px 1px 3px #333333 inset;
}

.page-posts .photo .caption {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 66%;
	max-height: 50%;
	
	text-align: right;
	text-overflow: ellipsis;
	font-style: italic;
	color: #fff;
	text-shadow: 0 1px #333;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 11pt;
}

.page-posts .photo .no-title-date {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: rgba(255,255,255,0.35);
	text-shadow: 0 1px 3px rgba(0,0,0,.65);
	font-size: 1.2rem;
}

.page-posts .post-body {
	margin: 0 5px 0;
	padding: .8rem .8rem .4rem;
	background-color: rgb(242,242,242);
	overflow: hidden;
	color: rgb(34,34,34);
}

.page-posts .post-body.noimage {
	margin: 0;
}

.post-body span {
	float: right;
	color: #ccc;
	font-size: 1.3rem;
	font-weight: lighter;
}

.post-body h3 {
	padding: 0;
	margin: .6rem;
	font-weight: lighter;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.yellow {
	background: #ff0 !important;
	border: 10px solid #ff0 !important;
}

.page-posts .post-body p {
	display: block;
	max-height: 7.6rem;
	line-height: 1.9rem;
	overflow: hidden;
	margin: .6rem;

	text-overflow: ellipsis;
	font-weight: lighter;
	font-size: 1.3rem;
	color: #464646;
}

.post .upload-mask {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.6);
	z-index: 100;
}

.post .upload-mask .uploader {
	display:table;
	width:100%;
	height:100%;
}

.post .upload-mask div {
	display:table-cell;
	vertical-align:middle;	
}

.post button.upload,
.post button.discard {
	width:200px;
	margin: 0 auto 1rem;
	display: block;
	font-size: 1.8rem;
	height:100px;
	position: relative;
}

.post button.discard {
	height:50px;
}

.post button.upload:before {
	content: "";
	display: block;
	margin: 0 auto;
	float: none;
	clear: both;
	background-image: url("../img/icons/upload.png");
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	position: relative;
	top: -6px;
}

.post button.upload:active:before {
	opacity: .65;
}

.uploader div.progress {
	text-align: center;
	color:#fff;	
	font-size:2rem;
}

.uploader div.progress div.loading-spinner {
	display:table;
}


.pull-down {
	color: #888;
    font-size: 1.2rem;
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 16px;
}

.scroll-refresh-label {
	color: #000;
	transition: color .4s ease-in; /* Fade in refresh message */
}

.scroll.pulling .scroll-refresh-label,
.scroll.flip .scroll-refresh-label,
.scroll.loading .scroll-refresh-label {
	color: #888;
}

.scroll.flip .scroll-refresh-label,
.scroll.loading .scroll-refresh-label {
	color: #fff;
}

.scroll.loading .scroll-refresh-label {
	text-decoration: blink; /* Oh yes. This is happening. */
}


/*
	Editor page


.page-editor header {
	position:relative;
	z-index: 10;
	box-shadow: 0px 1px 5px #333333;
	padding: 0 20px;
	height: 60px;
	background-color:black;
}
*/

.page-editor .scroll {
	overflow:hidden;
	height: 100%;
}

.page-editor section.content {
	position:relative;
	z-index: 5;
	background-color: #000;
	height:100%;
	overflow:auto;
}

.page-editor .post {
	padding-bottom: 1px;
	padding-top: 66px;
}

.page-editor .photo-table {
	width:100%;
}

.page-editor .photo-cell {
    height: 100%;
    width: 100%;
    text-align: center;
}

.page-editor .photo img {
	display: block;
    height: auto;
    margin: 0 auto;
    max-height: 250px;
    max-width: calc(100%);
    position: relative;
    width: auto;
	box-shadow: 0px 1px 3px #333333 inset;
}

.page-editor .photo .caption-frame {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}
.page-editor .photo input[type="text"] {
	margin: 0;
	font-size: 1.4rem;
	font-weight: lighter;
	color: #666666;
	display: inline;
	opacity: .7;
}

.page-editor .post-body {
	margin: 0 5px 5px 5px;
	background-color: rgb(242,242,242);
	overflow: hidden;
	color: rgb(34,34,34);
}

.page-editor .post-body textarea  {
	border-left: 0px solid black;
	border-right: 0px solid black;
	border-top: 0px solid black;
	border-bottom: 1px solid #eee;
	width: calc(100% - 20px);
	box-shadow: none;
	height: 20px;
	margin: 0;
	font-weight: lighter;
	color: #888;
}

.page-editor .post-body textarea.post-title {
	font-size: 1.8rem;
	height:22px;
}

.page-editor .post-body textarea.post-content {
	height: 72px;
}

.page-editor .canvas-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}



/*
	About page
*/

.page-about header {
	padding: 20px 30px 0;
	height: 40px;
	text-align: left;
	position:relative;
}

.page-about section.content {
	padding: 0 30px;
	height: calc(100% - 60px);
	min-height: 0;
}

.page-about .content div {
	color: #fff;
	font-size: 1.6rem;
	height:24px;
}

.page-about #tos {
	margin-top:30px;
}

.page-about #privacy {
	margin-bottom:30px;
}

.page-about h1 {
	margin-bottom:24px;
}

.page-about a {
	font-size: 1rem;
	color:#fff;
}

.page-about ul {
	font-size: 1.4rem;
	color:#fff;
	list-style: none;
	margin: 0;
	padding: 0 0 20px 0;
	font-style: italic;
}

.page-about ul li {
	opacity: 0;
	margin: 0;
	padding: 0 0 6px 0;
	-moz-animation:fade-in 2s linear; 
	-moz-animation-fill-mode:forwards;
}

@-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }

.page-about ul #line-2 {
	-moz-animation-delay:2s;
}

.page-about ul #line-3 {
	-moz-animation-delay:4s;
}


/*
	Settings page
*/

.page-settings header {
	padding: 20px 30px 0;
	height: 40px;
	text-align: left;
	position:relative;
}

.page-settings section.content {
	padding: 0 30px;
	height: calc(100% - 60px);
	min-height: 0;
	color:white;
	overflow: visible;
}

.page-settings .scroll {
	overflow-y:scroll;
	height:100%;

}

.page-settings ul {
	background-color: #eee;
    display:block; 
    margin:0; 
    padding:0;
    border-radius: 4px;
}

.page-settings li {
	list-style: none;
    font-size: 1.5rem;
    line-height: 30px;
}

.page-settings li.selected {
    background-color:blue;
}

.bloglist {
    max-height:200px;
    display:block; 
    overflow:hidden;
    margin-bottom: 10px;
    padding: 2px 3px 3px;
    border-radius: 3px;
    background: #fff;
}

.bloglist .list-button {
	border-radius: 0;
	position: relative;
}

.bloglist li.list-button:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.bloglist li.list-button:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.bloglist .list-button:after {
	right: 46px;
}

.bloglist ul {
    max-height:200px; 
    overflow-x: hidden;
    overflow-y: auto; 
    border-radius: 0;
}

.bloglist li button:active {
	transform: translate(0, 1px);
}

.bloglist li span button {
	background: url("../img/delete.png") no-repeat;
	height: 18px;
	width: 18px;
	position: absolute;
	right: 12px;
	top: 12px;
	border: none;
}

.bloglist li span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.bloglist li span:first-child {
    width: 100%;
    max-width: 180px;
    overflow: hidden;
}

.page-settings .content section {
    margin-bottom:30px;
}
.page-settings .content section h2 {
    margin-bottom: 1rem;
    text-shadow: 0 1px 2px rgba(0,0,0,.8);
}

.modal-background {
	background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
}

.modal-content {
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
}

x-modal {
	height: 100%;
	width: 100%;
	z-index: 10;
}

.loading-text,
#loading-text {
	display: block;
	margin-bottom: 2rem;
	font-size: 1.8rem;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.loading-text:before,
.scroll.pulling .scroll-refresh-label:before,
.scroll.flip .scroll-refresh-label:before,
.scroll.loading .scroll-refresh-label:before,
#loading-text:before {
	content: "...";
	visibility: hidden;
}

.loading-spinner {
	background-color: transparent;
	border:8px solid #fff;
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius:50px;
	width:34px;
	height:34px;
	margin:0 auto;
	-moz-animation:spin 1.10s infinite linear;
	-webkit-animation:spin 1.10s infinite linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}

/* 	To infinity, and beyond!
	Brought to you by a merry band of mobile engineers.
	Apply for Automattic at automattic.com/work-with-us */

.page.page-posts section > div:last-child::after {
	content: "∞";
	display: block;
	width: 100%;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	font-size: 4rem;
	font-weight: lighter;
	color: #fff;
	text-shadow: 0 0 5px #fff;
	clear: both;
}