@font-face {
	font-family: 'OpenSans';
	src: url('OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('OpenSans-Bold.ttf');
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}

@-moz-keyframes fade-in { 
	from { opacity:0; }
	to { opacity:1; }
}

html {
	width: 100%;
	height: 100%;
	font-size: 65.5%;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #1e8cbe;
	font-family: OpenSans, Helvetica, sans-serif;
	font-weight: normal;
}

/* Removes the background gradient image Firefox OS tries to apply by default. */
button {
	background-image:none;
}

h1 {
	color: #eee;
	font-family: OpenSansLight, Helvetica, sans-serif;
	font-size: 2.2rem;
	font-weight: normal;
	letter-spacing: 0.1rem;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	text-align: left;
}

h2, h3 {
	font-weight: lighter;
}

input[type='text'], 
input[type="password"] {
	display: block;
	width: calc(100% - 10px);
	height: 40px;
	padding-left: 10px;
	margin-bottom: 7px;
	border-radius: 3px;
	border: 1px;
	font-size: 1.8rem;
	font-family: OpenSansLight;
	font-weight: lighter;
	box-shadow: 0px 1px 1px #333 inset, 0 1px 0 rgba(255, 255, 255, .65);
}

textarea {
	padding: 10px;
	overflow: hidden;
	border: none;
	font-family: OpenSans, Helvetica, arial, sans-serif;
	font-size: 1.4rem;
	line-height: 2.5rem;
	resize: none;
}

button.push {
	min-width: 100px;
	margin: 15px auto 5px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	font-size: 1.4rem;
	line-height: 2.4rem;
}

button.blue {
	color: #eee;
	background-color: rgb(46, 162, 204);
	text-shadow: 0 -1px 0 rgba(0, 116, 162, 0.8);
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5);
}

button.blue:active {
	color: rgba(255, 255, 255, 0.65);
	background-image: linear-gradient(#1e8cbe, #0074a2);
	box-shadow: inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;
}

button.blue[disabled] {
	background-color: rgb(37,151,196);
	background-image: none;
	color: rgb(125,193,221);
}

button.black {
	color:rgb(148,148,148);
	background-color: rgb(58,58,58);
	text-shadow: 0 -1px 0 rgba(28,28,28,0.8);
	box-shadow: 0 1px 0 rgba(73, 73, 73, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
}

button.black:active {
	color: rgba(255, 255, 255, 0.45);
	background-image: linear-gradient(#333, #363636);
	box-shadow: inset 0 1px 5px #202020;
}

section.content {
	min-height: 100%;
	overflow: auto;
}

.hidden {
	display:none !important;
}

x-modal {
	height: 100%;
	width: 100%;
	z-index: 120;
}

x-modal .modal-background {
    height: 100%;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

x-modal .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    transform: translate(-50%, -50%);
}

x-appbar {
	position: absolute;
	z-index: 100;
	height: 44px;
	margin-bottom: 5px;
	background-color: #1e8cbe;
	background-image: none;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

x-appbar > *:before {
	width: 1px; /* dividers should be 1px */
}

x-appbar button {
	position:relative;
	width: 44px;
	height: 44px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	color: #fff;
	font: 24px/42px 'Noticons';
	text-align: center;
}

x-appbar button:after {
	display: inline-block;
	width: 40px;
}

x-appbar button:active {
	background-color: #78c8e6;
}

x-appbar header {
	position: relative;
	padding:0 5px;
	color: #fff;
	font-size: 22px;
	font-weight: lighter;
	line-height: 42px;
	text-align: left;
	vertical-align: middle;
}

x-appbar header .logo {
	margin: 0;
	text-shadow: 1px 0px 1px rgba(0, 0, 0, .8);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: lighter;
}

x-appbar header .logo:before {
	content: '\f205'; /* WordPress logo */
	margin-right: 5px;
	font: 32px/42px 'Noticons';
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	vertical-align: middle;
}

x-appbar button.back:after {
	content: '\f431'; /* chevron */
	width:auto;
	margin-top: 5px;
	font: 34px/34px 'Noticons';
	transform: rotate(90deg);
	transform-origin: 17px 17px 0;
}

x-appbar button.menu {
	width:30px;
}

x-appbar button.menu:after {
	content: '\f419'; /* menu */
	width: auto;
	font: 20px/42px 'Noticons';
}

x-appbar button.add:after {
	content: '\f102'; /* camera */
}

x-appbar button.refresh:after {
	content: '\f420'; /* refresh */
}

x-appbar button.refreshing:after {
	-moz-animation:spin 1.10s infinite linear;
}

x-appbar button.cancel:before {
	width: 0;
	background-color: transparent;
}

x-appbar button.cancel:after {
	content: '\f405'; /* x */
	font-size: 30px;
}

x-appbar button.done:after {
	content: '\f418'; /* check mark */
	font-size: 30px;
}

x-appbar button.save:after {
	content: '\f411'; /* pencil */
	font-size: 30px;
}

/*
	.force-right class is a work around for broken flex box support on Firefox OS.
	Remove this and update the templates once flex box works properly.
*/
x-appbar .force-right {
	position:absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background-color: none;
	font-size: 0;
}

x-appbar .force-right:before {
	background-color: transparent;
}

x-appbar .force-right > *:before {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.25);
	content: " ";
}

/* stage */

#background, #stage {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* pages */

.page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #1e8cbe;
}

.page .scroll {
	position: relative;
	display: block;
	height: 100%;
	overflow-y: auto;
}


/* start & login pages */

.page-start .content,
.page-login .content,
.page-about .content,
.page-settings .content {
	padding: 44px 20px 5px;
	min-height: 0;
}

.page-start footer,
.page-login footer {
	position: absolute;
	bottom: 0px;
	height: 64px;
	width: 100%;
	background-color: #2c2c2c;
}

.page-start .content img,
.page-login .content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.page-start x-appbar,
.page-login x-appbar {
	box-shadow: none;
}


/*	start page */

.page-start h1 {
	color: #fff;
	font-size: 2.8rem;
	text-align: center;
}

.page-start .content section {
	border-top: 1px solid #2085b5;
	border-bottom: 1px solid #2691c0;
}

.page-start .content section h3 {
	border-top: 1px solid #2691c0;
	border-bottom: 1px solid #2085b5;
}

.page-start .content section h3 {
	margin: 0;
	padding: 3px;
	color: #bde;
	font-size: 1.6rem;
	font-family: OpenSansLight;
	text-align: center;
}

.page-start button.login {
	position: absolute;
	right: 10px;
}

.page-start button.create-account {
	position: absolute;
	left: 10px;
}


/*	login page	*/

.page-login .content img {
	margin-top: 15px;
	margin-bottom: 15px;
}

.page-login button.login {
	display:block;
	margin: 0 auto;
	font-size: 1.7rem;
	line-height: 3rem;
}

.page-login footer button {
	width: 100%;
	height: 64px;
	padding: 0;
	border: none;
	background: none;
	color: #eee;
	font-size: 1.5rem;
}

@media (max-height: 400px) {
	.page-login footer {
		display: none;
	}
}

/*	posts page */

x-shiftbox > section {
	box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.5);
}

.page-posts aside {
	width: 100%;
	height: 100%;
	background-color: #222;
}


.page-editor .scroll,
.page-posts .scroll {
	position: absolute;
	bottom: 0;
	top: 0;
	width:100%;
	background-color: #101010;
}

.page-posts section.content {
	position: relative;
	z-index: 5;
	min-height: 0;
	margin-top: 44px;
	background-color: #eee;
}

.page-posts aside ul {
	display: block;
	margin: 0;
	padding: 0;
}

.page-posts .menu-item {
	display: block;
	margin: none;
	height: 44px;
	padding: 0 44px 0 10px;	
	color: rgb(221, 221, 221);
	line-height: 44px;
	font-size: 1.4rem;
}

.page-posts li.menu-item {
	list-style: none;
}

.page-posts .menu-item:active {
	background-color: #78c8e6 !important;
}

.page-posts aside li.current-blog {
	background-color: #0074a2;
}

.page-posts button.menu-item {
	width: 100%;
	border: none;
	background: none;
	text-align: left;
}

/* posts post */

.page-posts .post .photo-btn {
	display: block;
	margin: 0;
	padding: 0 10px;
	border: none;
	background: none;
}

.page-posts .post .photo-btn:active {
	transform: scale(0.99);
}

.page-posts .post {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}

.page-posts .photo {
	position: relative;
	z-index: 10;
	margin-bottom: 10px;
	background-color: #fff;
	box-shadow: 0 0 1px #999 inset;
}

.page-posts .photo img {
	max-height: 100%;
	width: 100%;
}

.page-posts .photo-box {
	position: relative;
	min-height: 175px;
}

.page-posts .photo-shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 2px;
	box-shadow: 0px 0px 1px #999 inset;
	z-index: 10px;
}

.page-posts .photo .caption {
	font-size: 10pt;
	color: #999;
	padding: 10px;
	font-family: OpenSansLight;
}

.page-posts .post .post-title {
	margin: 0;
	padding: 0 0 5px;
	color: #999;
	font-size: 16pt;
	font-family: OpenSansLight;
}

.page-posts .post .post-content {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: #999;
	font-size: 12pt;
	text-overflow: ellipsis;
}

.page-posts .post .post-date {
	padding: 5px 0;
	color: #ddd;
	font-size: 10pt;
}

.page-posts .photo .no-title-date {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	color: rgba(255,255,255,0.35);
	text-shadow: 0 1px 3px rgba(0,0,0,.65);
	font-size: 1.2rem;
}

.page-posts .post-body.noimage {
	margin: 0;
}

.post .upload-mask {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.6);
	z-index: 100;
}

.post .upload-mask .uploader {
	display:table;
	width:100%;
	height:100%;
}

.post .upload-mask div {
	display:table-cell;
	vertical-align:middle;	
}

.post button.upload,
.post button.discard {
	width:200px;
	margin: 0 auto 1rem;
	display: block;
	font-size: 1.8rem;
	height:100px;
	position: relative;
}

.post button.discard {
	height:50px;
}

.post button.upload:before {
	content: "";
	display: block;
	margin: 0 auto;
	float: none;
	clear: both;
	background-image: url("../img/icons/upload.png");
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	position: relative;
	top: -6px;
}

.post button.upload:active:before {
	opacity: .65;
}

.uploader div.progress {
	text-align: center;
	color:#fff;	
	font-size:2rem;
}

.uploader div.progress div.loading-spinner {
	display:table;
}



/* about page */

.page-about,
.page-settings {
	background-color: #333;
}

.page-about .content header {
	margin-top: 10px;
	text-align: center;
}

.page-about .content section {
	padding-bottom: 10px;
	text-align: center;
}

.page-about .content div {
	color: #fff;
	font-size: 1.6rem;
	height:24px;
}

.page-about #tos {
	margin-top:30px;
}

.page-about #privacy {
	margin-bottom:30px;
}

.page-about h1 {
	margin-bottom:24px;
}

.page-about a {
	font-size: 1rem;
	color:#fff;
}

.page-about ul {
	font-size: 1.4rem;
	color:#fff;
	list-style: none;
	margin: 0;
	padding: 0 0 20px 0;
	font-style: italic;
}

.page-about ul li {
	opacity: 0;
	margin: 0;
	padding: 0 0 6px 0;
	-moz-animation:fade-in 2s linear; 
	-moz-animation-fill-mode:forwards;
}

.page-about ul #line-2 {
	-moz-animation-delay:2s;
}

.page-about ul #line-3 {
	-moz-animation-delay:4s;
}


/* settings page */

.page-settings .content {
	color: #fff;
}

.page-settings button.push {
	margin: 0;
}

.page-settings #settings-version {
	position: absolute;
	right: 10px;
}

.page-settings ul {
	display:block; 
	margin:0; 
	padding:0;
	border-radius: 4px;
	background-color: #eee;
}

.page-settings li,
.page-settings .bloglist li div {
	position: relative;
	height: 42px;
	padding: 0 10px;
	border: none;
	border-radius: 3px;
	background-color: #eee;
	color: #464646;
	font-family: OpenSans, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 42px;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	box-shadow: 0 1px 0 rgba(255,255,255, 0.92) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
	list-style: none;
}

.page-settings .list-button:active {
	color: #eee;
	background-color: rgb(46, 162, 204);
	box-shadow: 0 1px 0 rgba(46, 162, 204, 0.92) inset, 0 1px 3px rgba(0, 0, 0, 0.35);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.page-settings .disclosure:after {
	content: '\f431'; /* chevron */
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 6px;
	width:30px;
	background: none;
	font: 30px/30px 'Noticons';
	transform: rotate(-90deg);
	transform-origin: 15px 15px 0;
	vertical-align: top;
}


.page-settings .bloglist {
	display:block; 
	max-height:200px;
	overflow:hidden;
	margin-bottom: 10px;
	border-radius: 3px;
	background: #fff;
}

.bloglist ul {
	max-height:200px; 
	overflow-x: hidden;
	overflow-y: auto; 
	border-radius: 0;
}

.bloglist li {
	padding: 0;
}

.bloglist li div {
	padding: 0 10px;
}

.bloglist li:first-child,
.bloglist li:last-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.bloglist li span {
	display: block;
	margin-right:40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page-settings .bloglist li button {
	position: absolute;
	top:0;
	right:0;
	height: 42px;
	width: 36px;
	padding: 0;
	border: none;
	background:none;
}

.page-settings .bloglist li button:before {
	content: '\f407'; /* trash can */
	display: inline-block;
	border: none;
	background: none;
	color: #d54e21;
	font: 30px/30px 'Noticons';
}

.page-settings .bloglist li button:active:before {
 	color: #fff;
}

.page-settings .bloglist li button:active {
	background-color: #f1831e;
	transform: translateY(0);
}


.page-publish-settings ul {
	margin-top: 10px;
}

.page-publish-settings ul li.selected:after {
	content: '\f418'; /* check mark */
	border: none;
	background: none;
	display: inline-block;
	position:absolute;
	right: 10px;
	font: 30px/42px 'Noticons';
}

.page-settings .content section {
	margin-bottom:30px;
}
.page-settings .content section h2 {
	margin-bottom: 1rem;
	text-shadow: 0 1px 2px rgba(0,0,0,.8);
}

.blog-settings #url {
	margin-bottom: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgba(255,255,255,.65);
}

.blog-settings h2 {
	margin-bottom: 1rem;
}


/* Editor */

.page-editor .post {
	padding-top: 44px;
}

.page-editor section.content {
	position:relative;
	z-index: 5;
	background-color: #eee;
	height:100%;
	overflow:auto;
}

.page-editor .photo {
	position: relative;
	display: block;
	background-color: #fff;
	margin:10px;
}

.page-editor .photo img {
	display: block;
	margin: 0 auto;
	box-shadow: 0px 1px 3px #333333 inset;
	border:10px solid #fff;
	max-width: calc(100% - 20px);
	max-height: 180px;
}

.page-editor .post-body {
	color: rgb(34,34,34);
	margin: 0 10px 10px;
}

.page-editor .textlabel:before {
	content: '\f411';
	background: none;
	display: inline-block;
	font: 24px/30px 'Noticons';
	color: #999;
	width: 24px;
	vertical-align: top;
}

.page-editor .textlabel,
.page-editor .textfield {
	background-color: #fff;
	font-family: OpenSans,Helvetica,arial,sans-serif;
	font-size: 1.4rem;
	line-height: 2.5rem;
}

.page-editor .textlabel {
	display: block;
	padding: 10px;
	color: #999;
	margin-bottom:1px;
}

.page-editor .textfield {
	color:#666;
	font-weight: 100;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 80px;
	min-height: 0;
}

.page-editor .photo input[type="text"] {
	box-shadow: none;
}

.page-editor .canvas-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#editor {
	display: block;
	position: absolute;
	top: 44px;
	left: 0;
	width: calc(100% - 20px);
	height: calc(100% - 64px);
	z-index: 10;
}

/* Misc */

.spinner-modal {
	color: #CCCCCC;
}

.loading-text,
#loading-text {
	display: block;
	margin-bottom: 2rem;
	color: #fff;
	font-size: 1.8rem;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.loading-text:before,
.scroll.pulling .scroll-refresh-label:before,
.scroll.flip .scroll-refresh-label:before,
.scroll.loading .scroll-refresh-label:before,
#loading-text:before {
	content: "...";
	visibility: hidden;
}

.loading-spinner {
	width:34px;
	height:34px;
	margin:0 auto;
	border:8px solid #fff;
	border-radius:50px;
	border-top-color: transparent;
	border-left-color: transparent;
	background-color: transparent;
	-moz-animation:spin 1.10s infinite linear;
}

/* 	To infinity, and beyond!
	Brought to you by a merry band of mobile engineers.
	Apply for Automattic at automattic.com/work-with-us */

.page-posts section.content > div:last-child::after {
	content: "∞";
	display: block;
	width: 100%;
	height: 10rem;
	line-height: 10rem;
	text-align: center;
	font-size: 4rem;
	font-weight: lighter;
	color: #fff;
	text-shadow: 0 0 5px #fff;
	clear: both;
}

#template {
	height:100%;
}
